{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Art Piece{% endblock %}
{% block javascripts %}
     <script src="{{asset( "js/imgProfileEdit.js" )}}"></script>
    {{parent()}}
{% endblock %}
{% block nav %}
    <div id="smallHeader" >
        {% include "homePageBundle:Default:nav.html.twig" %}
    </div>
{% endblock %}
{% block main %}
<section class="param proposalCreate">
  <header class="headerSection">
    <div class="globalS">
      <div class="idSection">{{ "estimate_page.header" | trans }}</div>
      <div class="logoSection"><img src="{{ asset("img/logoTampon.png") }}" alt="cma_tampon" /></div>
      <div class="infoSection"></div>
    </div>
  </header>
  <div class="containerS">
    {% include "homePageBundle:Default:sidebar_parameter.html.twig" %}
    <div class="contentS">
      <section id="devis">
        <div class="containerS">
        <div class="descriptionOeuvre">
        <header class="">
          <div class="title">
            <div class="headTitle">
            {{"form.proposal.create.title" | trans }}
            {% if owner %}
              {{owner}}
            {% endif %}
          </div>
          </div>
        </header>
        {% if formProposal %}
        {{form_start(formProposal)}}
        <div class="descriptionOeuvre top20">
          <p class="titreOeuvre">
            <span>{{ 'form.estimate.title'|trans }}</span>
            {{estimate.title}}
          </p>
          <p class="localité">
            <span>{{ 'form.estimate.medium'| trans }}</span>
            {{estimate.medium}}
          </p>
          <p class="localité">
            <span>{{ 'form.estimate.deliveryAddress'|trans }}</span>
            {{estimate.deliveryAdress}}
          </p>
          <p>
            <label for="{{formProposal.day.vars.id}}">{{ formProposal.day.vars.label| trans }}</label>
            {{form_widget(formProposal.day)}}
          </p>
          <p class="description">
            <label for="{{formProposal.description.vars.id}}">{{ formProposal.description.vars.label| trans }}</label>
            {{form_widget(formProposal.description)}}
          </p>
        </div>
        </div>
        <div class="title">
          Plus de détails
        </div>
        <div class="descriptionOeuvre">
          <p>
            <label for="{{formProposal.piece.price.vars.id}}">{{ formProposal.piece.price.vars.label| trans }}</label>
            {{form_widget(formProposal.piece.price)}}
          </p>
          <p>
            <label for="{{formProposal.piece.feature.vars.id}}">{{ formProposal.piece.feature.vars.label| trans }}</label>
            {{form_widget(formProposal.piece.feature)}}
          </p>
          <p>
            <label for="{{formProposal.piece.technics.vars.id}}">{{ formProposal.piece.technics.vars.label| trans }}</label>
            {{form_widget(formProposal.piece.technics)}}
          </p>
          <p>
            <label for="{{formProposal.piece.width.vars.id}}">{{ formProposal.piece.width.vars.label| trans }}</label>
            {{form_widget(formProposal.piece.width)}}
          </p>
          <p>
            <label for="{{formProposal.piece.height.vars.id}}">{{ formProposal.piece.height.vars.label| trans }}</label>
            {{form_widget(formProposal.piece.height)}}
          </p>
        </div>
        <p class="title">
          Illustrez votre oeuvre
        </p>
          {{form_widget(formProposal.piece.image1.file,{attr: {'style':"display:none"}})}}
          {{form_widget(formProposal.piece.image1.name,{attr: {'value': username }})}}
          {{form_widget(formProposal.piece.image2.file,{attr: {'style':"display:none"}})}}
          {{form_widget(formProposal.piece.image2.name,{attr: {'value': username }})}}
          {{form_widget(formProposal.piece.image3.file,{attr: {'style':"display:none"}})}}
          {{form_widget(formProposal.piece.image3.name,{attr: {'value': username }})}}
          <div id="uploadImage">
            <div id="div1" class="imagePiece imgLiquidFill">
                <img id="1" src="{{ asset( 'img/upload.png' ) }}" alt="">
            </div>
            <div id="div2" class="imagePiece imgLiquidFill">
                <img id="2" src="{{ asset( 'img/upload.png' ) }}" alt="">
            </div>
            <div id="div3" class="imagePiece imgLiquidFill">
                <img id="3" src="{{ asset( 'img/upload.png' ) }}" alt="">
            </div>
          </div>
          <div class="blockCheckbox">
            <div class="checkbox">
              {{form_widget(formProposal.condition)}}
              <label for="{{formProposal.condition.vars.id}}"></label>

            </div>
            <p>J'ai pris connaissance et j'accepte les <a href="{{ asset( 'pdf/CGU_CMA_VF.pdf' ) }}" target="_blank">CGU</a> & <a href="{{ asset( 'pdf/CGV_CMA_VF.pdf' ) }}" target="_blank">CGV</a> de Custom My Art </p>
          </div>
          <div class="button">
            <input class='buttonAction' type="submit" id="_submit" name="_submit" value="{{ "form.proposal.submit"|trans }}" />
          </div>
        {{form_end(formProposal)}}
      {% endif %}
    </div>
  </div>
  </section>
  </div>
  <div id="imgtmp" style="display:none"></div>
</section>
{% endblock %}
{% block script %}
    <script >
      initProposalImage();
    </script>
{% endblock %}
