{% trans_default_domain 'FOSUserBundle' %}

<div class="Main profile">
    {% if is_granted('ROLE_ARTIST') %}
    <form  action="{{ path("artist_edit")}}" method="post">
    	<div id="{{form.profile.vars.id}}">
         	{{form_row(form.profile.description)}}
         	{{form_row(form.profile.imageHeader.file)}}
         	{{form_row(form.profile.imageHeader.name,{attr: {'value':username}})}}
         	<div id="{{ form.profile.tags.vars.id}}"> 
         		<ul class="tags" data-prototype="{{ form_widget(form.profile.tags.vars.prototype)|e }}">
         		</ul>
         	</div>
         	{{form_row(form.profile.image1.file)}}
         	{{form_row(form.profile.image1.name,{attr: {'value':username}})}}
         	{{form_row(form.profile.image2.file)}}
         	{{form_row(form.profile.image2.name,{attr: {'value':username}})}}
         	{{form_row(form.profile.image3.file)}}
         	{{form_row(form.profile.image3.name,{attr: {'value':username}})}}
        </div>
	<input class='buttonAction' type="submit" id="_submit" name="_submit" value="{{ "form.profile.submit"|trans }}" />
	</form>
    {% endif %}
</div>