{% trans_default_domain 'FOSUserBundle' %}
<header id="profileHeader">
  <div class="basicHeaderOk imgLiquidFill">
    {% if artist.profile.imageHeader and artist.profile.imageHeader.path%}
        <img id="0" src="{{ asset( 'images/'~artist.profile.imageHeader.path ) }}" alt="">
    {% else %}
       <div class="basicHeader"><img id="0" src="{{ asset( 'img/upload.png' ) }}" alt=""></div>
    {% endif %}
  </div>
  {% embed "homePageBundle:Default:navProfilArtiste.html.twig" with {'class':'profile'} %}
  {% endembed %}
</header>
<div class="mainProfile grayBackground">
  <div class="containerS">
    <section class="profilArtiste">

    <div class="infosArtiste">
      <div class="headeArtisteLeft">
      	{% if artist.username %}
      		<div class= "username">{{ artist.username }}</div>
      	{% endif %}
      	{% if artist.information %}
      		<div class= "localisation">{{ artist.information.pays }}</div>
      	{% endif %}
      	{% if artist.profile.description %}
      		<div class= "description js-description-more short">
          {{artist.profile.description}}
        </div>
      	{% endif %}
      	 <div class="top0 bottom20"><button class="buttonMore"> {{"profile.show.devis" | trans }} </button></div>
       </div>
       <div class="headeArtisteRight">
         <div class="infos">
           <div><img src="{{asset('img/custom.png')}}" alt=""><p>{{userServices.getCustom(artist.id)}} custom.</p></div>
           <div><img src="{{asset('img/likes.png')}}" alt=""><p>{{userServices.getLike(artist.id)}} likes</p></div>
           <div><img src="{{asset('img/avis.png')}}" alt=""><p>{{userServices.getOpinion(artist.id)}} avis</p></div>
         </div>
    	{% if userServices.tagsFromProfile(artist.profile) %}
    		<div class= 'tags'>
    		{% for tag in userServices.tagsFromProfile(artist.profile) %}
    			<ul id="marqueurs">
    				<li id"tag_{{tag.id}}">
    					{{tag.name}}
    				</li>
    			</ul>
    		{% endfor %}
    		</div>
    	{% endif %}
      </div>
    </div>
    <header class="headerArtisteGalerie padBottom60 padTop30 borderTop">
      <p>Portfolio</p>
    </header>
  	<div id="imageAll">
  		<div class= "imageProfile imgLiquidFill">
  			{% if artist.profile.image1 %}
  				<img src="{{ asset( 'images/'~artist.profile.image1.path ) }}" alt="">
  			{% else %}
          	    <img src="{{ asset( 'img/upload.png' ) }}" alt="">
  			{% endif %}
  		</div>
  		<div class= "imageProfile imgLiquidFill">
  			{% if artist.profile.image2 %}
  				<img src="{{ asset( 'images/'~artist.profile.image2.path ) }}" alt="">
  			{% else %}
          	    <img src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
  			{% endif %}
  		</div>
  		<div class= "imageProfile imgLiquidFill">
  			{% if artist.profile.image3 %}
  				<img src="{{ asset( 'images/'~artist.profile.image3.path ) }}" alt="">
  			{% else %}
          	    <img src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
  			{% endif %}
  		</div>
  	</div>
  </section>

  	<section class="galerie">
      	<header class="headerArtisteGalerie top50">
      	  <p>Galerie <span class= "username">{{ artist.username }}</span></p>
      	</header>
      	<div class="containerS">
      	  <div class="titleS">
      	  </div>
      	  <div class="contentS">
      	    <ul>
      	    {% for piece in pieces %}

      	      <li>
                <a href="{{path('buy',{'username':artist.username})}}">
        	        <div class="images">
        	        {% if piece.image1 %}
        	          <img src="{{asset("images/"~piece.image1.path)}}" alt="">
        	        {% else %}
        	          <img src="{{asset('img/600x400.jpg')}}" alt="">
        	        {% endif %}
        	        </div>
        	        <div class="infos">
        	          <div class="decriptions">
        	            <p class="name">{{piece.user.username}}</p>
        	            <p class="title">{{piece.title}}</p>
        	          </div>
        	          <div class="price">{{piece.price}} €</div>
        	        </div>
                </a>
      	      </li>
      	     {% endfor %}
      	    </ul>
      	  </div>
      	</div>
        <footer class="footerSection"><a href="{{path('artist_profile_gallery',{'username':artist.username})}}"><div class="buttonMore">Accéder à la galerie virtuelle</div></a></footer>
    	</section>
  </div>
</div>
