{% trans_default_domain 'FOSUserBundle' %}
<header id="profileHeader">
    {% if artist.profile.imageHeader and artist.profile.imageHeader.path%}
        <img id="0" src="{{ asset( 'images/'~artist.profile.imageHeader.path ) }}" alt="">
    {% else %}
       <div class="basicHeader"><img id="0" src="{{ asset( 'img/800x500.jpg' ) }}" alt=""></div>
    {% endif %}
</header>
<div class="mainProfile">
	{% if artist.username %}
		<div class= "username">{{ artist.username }}</div>
	{% endif %}
	{% if artist.information %}
		<div class= "localisation">{{ artist.information.pays }}</div>
	{% endif %}
	{% if artist.profile.description %}
		<div class= "description">{{ artist.profile.description }}</div>
	{% endif %}
	 <button class="buttonAction"> {{"profile.show.devis" | trans }} </button>
	{% if userServices.tagsFromProfile(artist.profile) %}
		<div class= 'tags'>
		{% for tag in userServices.tagsFromProfile(artist.profile) %}
			<ul id="tagsContainer">
				<li id"tag_{{tag.id}}">
					{{tag.name}}
				</li>
			</ul>
		{% endfor %}
		</div>
	{% endif %}
	<div id="imageAll">
		<div class= "imageProfile">
			{% if artist.profile.image1 %}
				<img src="{{ asset( 'images/'~artist.profile.image1.path ) }}" alt="">
			{% else %}
        	    <img src="{{ asset( 'img/800x500.jpg' ) }}" alt="">
			{% endif %}
		</div>
		<div class= "imageProfile">
			{% if artist.profile.image2 %}
				<img src="{{ asset( 'images/'~artist.profile.image2.path ) }}" alt="">
			{% else %}
        	    <img src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
			{% endif %}
		</div>
		<div class= "imageProfile">
			{% if artist.profile.image3 %}
				<img src="{{ asset( 'images/'~artist.profile.image3.path ) }}" alt="">
			{% else %}
        	    <img src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
			{% endif %}
		</div>
	</div>
	<div class="galerie">
		<h1>la gallerie</h1>
	</div>
</div>