{% trans_default_domain 'FOSUserBundle' %}
<header id="profileHeader">
  <div class="basicHeaderOk imgLiquidFill">
    {% if artist.profile.imageHeader and artist.profile.imageHeader.path%}
        <img id="0" src="{{ asset( 'images/'~artist.profile.imageHeader.path ) }}" alt="">
    {% else %}
       <div class="basicHeader"><img id="0" src="{{ asset( 'img/800x500.jpg' ) }}" alt=""></div>
    {% endif %}
  </div>
</header>
<div class="mainProfile">
  <div class="containerS">
    <div class="infosArtiste">
    	{% if artist.username %}
    		<div class= "username">{{ artist.username }}</div>
    	{% endif %}
    	{% if artist.information %}
    		<div class= "localisation">{{ artist.information.pays }}</div>
    	{% endif %}
    	{% if artist.profile.description %}
    		<div class= "description">{{ artist.profile.description }}</div>
    	{% endif %}
    	 <button class="buttonAction"> {{"profile.show.devis" | trans }} </button>
    	{% if userServices.tagsFromProfile(artist.profile) %}
    		<div class= 'tags'>
    		{% for tag in userServices.tagsFromProfile(artist.profile) %}
    			<ul id="tagsContainer">
    				<li id"tag_{{tag.id}}">
    					{{tag.name}}
    				</li>
    			</ul>
    		{% endfor %}
    		</div>
    	{% endif %}
    </div>
  	<div id="imageAll">
  		<div class= "imageProfile imgLiquidFill">
  			{% if artist.profile.image1 %}
  				<img src="{{ asset( 'images/'~artist.profile.image1.path ) }}" alt="">
  			{% else %}
          	    <img src="{{ asset( 'img/800x500.jpg' ) }}" alt="">
  			{% endif %}
  		</div>
  		<div class= "imageProfile imgLiquidFill">
  			{% if artist.profile.image2 %}
  				<img src="{{ asset( 'images/'~artist.profile.image2.path ) }}" alt="">
  			{% else %}
          	    <img src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
  			{% endif %}
  		</div>
  		<div class= "imageProfile imgLiquidFill">
  			{% if artist.profile.image3 %}
  				<img src="{{ asset( 'images/'~artist.profile.image3.path ) }}" alt="">
  			{% else %}
          	    <img src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
  			{% endif %}
  		</div>
  	</div>
  	<section class="galerie">
      	<header class="headerSection">
      	  <div class="globalS">
      	    <div class="idSection">La Galerie</div>
      	    <div class="logoSection"><img src="{{asset('img/logoTampon.png')}}" alt=""></div>
      	    <div class="infoSection">{{pieces|length}} Oeuvres</div>
      	  </div>
      	</header>
      	<div class="containerS">
      	  <div class="titleS">
      	  </div>
      	  <div class="contentS">
      	    <ul>
      	    {% for piece in pieces %}
      	      <li>
      	        <div class="images">
      	        {% if piece.image1 %}
      	          <img src="{{asset("images/"~piece.image1.path)}}" alt="">
      	        {% else %}
      	          <img src="{{asset('img/600x400.jpg')}}" alt="">
      	        {% endif %}
      	        </div>
      	        <div class="infos">
      	          <div class="decriptions">
      	            <p class="name">{{piece.user.username}}</p>
      	            <p class="title">{{piece.title}}</p>
      	          </div>
      	          <div class="price">{{piece.price}} €</div>
      	        </div>
      	      </li>
      	     {% endfor %}
      	    </ul>
      	  </div>
      	</div>
    	</section>
  </div>
</div>
