{% trans_default_domain 'FOSUserBundle' %}

<div class="Main profile">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {{dump(user) }}
    {% if is_granted('ROLE_ADMIN') %}
        Administrator
    {% elseif is_granted('ROLE_USER') %}
        USER
    {% elseif is_granted('ROLE_COMPANY') %}
        COMPANY
    {% elseif is_granted('ROLE_ARTIST') %}
        ARTIST
    {% else %}
        Anonymous
    {% endif %}
</div>
