{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA User parameter{% endblock %}
{% block nav %}
<div id="smallHeader" >
  {% include "homePageBundle:Default:nav.html.twig" %}
</div>
{% endblock %}
{% block main %}
<section class="param">
  <header class="headerSection">
    <div class="globalS">
      <div class="idSection">{{ "parameter_page.header" | trans }}</div>
      <div class="logoSection"><img src="{{ asset("img/logoTampon.png") }}" alt="" /></div>
      <div class="infoSection"> </div>
    </div>
  </header>
  <div class="containerS">
    {% include "homePageBundle:Default:sidebar_parameter.html.twig" %}
    <div class="contentS">
      {% if formPara %}
      {{form_start(formPara)}}
      <div class="identity">
        <div class="titleS">
          <div>{{ userServices.getUsername }}</div>
        </div>
      </div>
        <div class="notif">
          <div class="titleS">
            <div>{{ "parameter_page.notification" | trans }}</div>
          </div>
          <ul>
            <li>
              {{form_label(formPara.parameter.mailDevisAll)}}

              <div class="checkbox">
                {{form_widget(formPara.parameter.mailDevisAll)}}
                <label for="{{formPara.parameter.mailDevisAll.vars.id}}"></label>
              </div>
            </li>
            <li>

              {{form_label(formPara.parameter.mailDevisUser)}}
              {{form_widget(formPara.parameter.mailDevisUser)}}
              <div class="checkbox"></div>
            </li>
            <li>
              <div class="checkbox">
                {{form_label(formPara.parameter.mailDevisCom)}}
                {{form_widget(formPara.parameter.mailDevisCom)}}
              </div>
            </li>
            <li>
              <div class="checkbox">
                {{form_label(formPara.parameter.mailDevisValid)}}
                {{form_widget(formPara.parameter.mailDevisValid)}}
              </div>
            </li>
          </ul>
        </div>

        <div class="account">
          <div class="titleS">
            <div>{{ "parameter_page.account" | trans }}</div>
          </div>
          <ul>
            <li>
              <div class="checkbox">
                {{form_label(formPara.parameter.isPublic)}}
                {{form_widget(formPara.parameter.isPublic)}}
              </div>
            </li>
            <li>
              <div class="checkbox">
                {{form_label(formPara.parameter.newsletter)}}
                {{form_widget(formPara.parameter.newsletter)}}
              </div>
            </li>
          </ul>
        </div>
        <div class="button">
          <input class='buttonAction' type="submit" id="_submit" name="_submit" value="{{ "parameter_page.submit"|trans }}" />
        </div>
      </div>
      {{form_end(formPara)}}
      {% endif %}
    </div>
  </section>
{% endblock %}
