{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Art Piece{% endblock %}
{% block javascripts %}
<script src="{{asset( "js/imgProfileEdit.js" )}}"></script>
{{parent()}}
{% endblock %}
{% block nav %}
<div id="smallHeader" >
  {% include "homePageBundle:Default:nav.html.twig" %}
</div>
{% endblock %}
{% block main %}
<section id="concept">
  <header>
    <div></div>
  </header>
  <div class="containerS">
    <div class="contentS">
      <p class="title">Une oeuvre en 4 étapes ?</p>
    </div>
  </div>
  <ul>
    <li>
      <div class="containerS">
        <div class="block">
          <div class="image"></div>
        </div>
        <div class="block">
          <div class="content">
            <p class="titreContent">{{"concept.step1.title" | trans}}</p>
            <p>
              {{"concept.step1.block1" | trans}}<br><br>
              {{"concept.step1.block2" | trans}}<br><br>
              {{"concept.step1.block3" | trans}}<br><br>
              {{"concept.step1.block4" | trans}}<br><br>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="containerS">
        <div class="block">
          <div class="content">
            <p class="titreContent">{{"concept.step2.title" | trans}}</p>
            <p>
              {{"concept.step2.block1" | trans}}<br><br>
              {{"concept.step2.block2" | trans}}<br><br>
              {{"concept.step2.block3" | trans}}<br><br>
            </p>
          </div>
        </div>
        <div class="block">
          <div class="image"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="containerS">
        <div class="block">
          <div class="image"></div>
        </div>
        <div class="block">
          <div class="content">
            <p class="titreContent">{{"concept.step3.title" | trans}}</p>
            <p>
              {{"concept.step3.block1" | trans}}<br><br>
              {{"concept.step3.block2" | trans}}<br><br>
              {{"concept.step3.block3" | trans}}<br><br>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="containerS">
        <div class="block">
          <div class="content">
            <p class="titreContent">{{"concept.step4.title" | trans}}</p>
            <p>
              {{"concept.step1.block1" | trans}}<br><br>
              {{"concept.step1.block2" | trans}}<br><br>
              {{"concept.step1.block3" | trans}}<br><br>
              {{"concept.step1.block4" | trans}}<br><br>
            </p>
          </div>
        </div>
        <div class="block">
          <div class="image"></div>
        </div>
      </div>
    </li>
  </ul>
  <div class="containerS">
    <div class="contentS">
      <p class="title">{{"concept.follow.title" | trans}}</p>
      <div class="equipe">
        {{"concept.follow.block1" | trans}}<br><br>
        {{"concept.follow.block2" | trans}}
      </div>
      <div class="imagefooter">
        <img src="{{asset('img/conceptFooter.png')}}" alt="">
      </div>
    </div>
    <div class="separatefooter">
      <p class="border"></p>
      <span><img src="{{asset('img/smallLogo.png')}}" alt=""></span>
      <p class="border"></p>
    </div>
    <div class="logo">
      <img src="{{asset('img/logoBp.png')}}" alt="">
      <img src="{{ asset( 'img/powered-by-mangopay.png' ) }}" alt="">
    </div>
  </div>
</section>
{% endblock %}
