{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Art Piece{% endblock %}
{% block javascripts %}
     <script src="{{asset( "js/imgProfileEdit.js" )}}"></script>
    {{parent()}}
{% endblock %}
{% block nav %}
    <div id="smallHeader" >
        {% include "homePageBundle:Default:nav.html.twig" %}
    </div>
{% endblock %}
{% block main %}
{% if noSiret %}
  {% block pop_up %}
    <div  class="pop" style="display:block;">
      <div class="poprdr">
        {% embed "homePageBundle:Default:popup.html.twig" %}
          {% block title %}
            Information(s) Manquante(s)
          {% endblock %}
          {% block content %}
            Niahah nan an le siret machin 
          {% endblock %}
        {% endembed %}
        </div>
      </div>
  {% endblock %}
{% endif %}
<header id="profileHeader">
  {% if userServices.allProfile.imageHeader and userServices.allProfile.imageHeader.path%}
      <img id="0" src="{{ asset( 'images/'~userServices.allProfile.imageHeader.path ) }}" alt="">
  {% else %}
     <div class="basicHeader"><img id="0" src="{{ asset( 'img/800x500.jpg' ) }}" alt=""></div>
  {% endif %}
</header>
  <section class="piece">
    <header class="headerPiece">
      <div class="Name">
        {{"gallerie" | trans }}
        {% if userServices.getUsername %}
          {{userServices.getUsername}}
        {% endif %}
      </div>
    </header>
    <div class="nbPiece">
    {% if nbPiece > 1 %}
      {{'piece' | trans }}s n°{{nbPiece + 1}}
    {% else %}
      {{'piece' | trans }} n°{{nbPiece + 1}}
    {% endif %} 
    </div>
    <div class="">
      <div class="">
      	{% if formPiece %}
      	{{form_start(formPiece)}}
          {{form_widget(formPiece)}}
          {{form_widget(formPiece.image1.file,{attr: {'style':"display:none"}})}}
          {{form_row(formPiece.image1.name,{attr: {'value':userServices.getUsername}})}}
          {{form_widget(formPiece.image2.file,{attr: {'style':"display:none"}})}}
          {{form_row(formPiece.image2.name,{attr: {'value':userServices.getUsername}})}}
          {{form_widget(formPiece.image3.file,{attr: {'style':"display:none"}})}}
          {{form_row(formPiece.image3.name,{attr: {'value':userServices.getUsername}})}}
          <div class="imagePiece">
              <img id="1" src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
          </div>
          <div class="imagePiece">
              <img id="2" src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
          </div>
          <div class="imagePiece">
              <img id="3" src="{{ asset( 'img/600x400.jpg' ) }}" alt="">
          </div>
          <div class="button">
            <input class='buttonAction' type="submit" id="_submit" name="_submit" value="{{ "parameter_page.submit"|trans }}" />
          </div>
      	{{form_end(formPiece)}}
      	{% endif %}
    </div>
    <div id="imgtmp" style="display:none"></div>
  </section>
{% endblock %}
{% block script %}
    <script >
      initPieceImage();
    </script>
{% endblock %}
