{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Art Piece{% endblock %}
{% block javascripts %}
     <script src="{{asset( "js/imgProfileEdit.js" )}}"></script>
    {{parent()}}
{% endblock %}
{% block nav %}
    <div id="smallHeader" >
        {% include "homePageBundle:Default:nav.html.twig" %}
    </div>
{% endblock %}
{% block main %}
  <section id="help">
    <header class="headerSection">
      <div class="globalS">
        <div class="idSection">Aide</div>
        <div class="logoSection"><img src="{{asset('img/logoTampon.png')}}" alt=""></div>
        <div class="infoSection">
        </div>
      </div>
    </header>
    <div class="containerS">
        <div class="helpBlock">
          {% if is_granted("ROLE_ARTIST") %}
            <div class="notice"> {{"help.notice" | trans}}</div>
            <div class="question">{{"help.artist.question1" | trans}}</div>
            <div class="answer">{{"help.artist.answer1.block1" | trans}}<br><br>{{"help.artist.answer1.block2" | trans}}</div>
            <div class="question">{{"help.artist.question2" | trans}}</div>
            <div class="answer">{{"help.artist.answer2.block1" | trans}}<br><br>{{"help.artist.answer2.block2" | trans}}<br><br>{{"help.artist.answer2.block3" | trans}}</div>
            <div class="question">{{"help.artist.question3" | trans}}</div>
            <div class="answer">{{"help.artist.answer3.block1" | trans}}<br><br>{{"help.artist.answer3.block2" | trans}}</div>
            <div class="question">{{"help.artist.question4" | trans}}</div>
            <div class="answer">{{"help.artist.answer4.block1" | trans}}<br><br>{{"help.artist.answer4.block2" | trans}}</div>
            <div class="question">{{"help.artist.question5" | trans}}</div>
            <div class="answer">{{"help.artist.answer5.block1" | trans}}<br><br>{{"help.artist.answer5.block2" | trans}}</div>
            <div class="question">{{"help.artist.question6" | trans}}</div>
            <div class="answer">{{"help.artist.answer6.block1" | trans}}<br><br>{{"help.artist.answer6.block2" | trans}}</div>
            <div class="question">{{"help.artist.question7" | trans}}</div>
            <div class="answer">{{"help.artist.answer7.block1" | trans}}</div>
            <div class="question">{{"help.artist.question8" | trans}}</div>
            <div class="answer">{{"help.artist.answer8.block1" | trans}}</div>
            <div class="question">{{"help.artist.question9" | trans}}</div>
            <div class="answer">{{"help.artist.answer9.block1" | trans}}<br><br>{{"help.artist.answer9.block2" | trans}}</div>
            <div class="question">{{"help.artist.question10" | trans}}</div>
            <div class="answer">{{"help.artist.answer10.block1" | trans}}</div>
            <div class="question">{{"help.artist.question11" | trans}}</div>
            <div class="answer">{{"help.artist.answer11.block1" | trans}}</div>
            <div class="question">{{"help.artist.question12" | trans}}</div>
            <div class="answer">{{"help.artist.answer12.block1" | trans}}</div>
            <div class="question">{{"help.artist.question13" | trans}}</div>
            <div class="answer">{{"help.artist.answer13.block1" | trans}}</div>
            <div class="question">{{"help.artist.question14" | trans}}</div>
            <div class="answer">{{"help.artist.answer14.block1" | trans}}</div>
            <div class="question">{{"help.artist.question15" | trans}}</div>
            <div class="answer">
                {{"help.artist.answer15.block1" | trans}}<br><br>
                {{"help.artist.answer15.block2" | trans}}<br>
                {{"help.artist.answer15.block3" | trans}}<br>
                {{"help.artist.answer15.block4" | trans}}<br><br>
                {{"help.artist.answer15.block5" | trans}}<a href="#"> accessible ici</a>{{"help.artist.answer15.block6" | trans}}<br><br>
                {{"help.artist.answer15.block7" | trans}}<br><br>
                {{"help.artist.answer15.block8" | trans}}
            </div>
          {% else %}
          <div class="notice"> {{"help.notice" | trans}}</div>
          <div class="question">{{"help.user.question1" | trans}}</div>
          <div class="answer">{{"help.user.answer1.block1" | trans}}<br><br>{{"help.user.answer1.block2" | trans}}</div>
          <div class="question">{{"help.user.question2" | trans}}</div>
          <div class="answer">{{"help.user.answer2.block1" | trans}}<br><br>{{"help.user.answer2.block2" | trans}}</div>
          <div class="question">{{"help.user.question3" | trans}}</div>
          <div class="answer">{{"help.user.answer3.block1" | trans}}<br><br>{{"help.user.answer3.block2" | trans}}<br><br>{{"help.user.answer3.block3" | trans}}</div>
          <div class="question">{{"help.user.question4" | trans}}</div>
          <div class="answer">{{"help.user.answer4.block1" | trans}}<br><br>{{"help.user.answer4.block2" | trans}}<br><br>{{"help.user.answer4.block3" | trans}}</div>
          <div class="question">{{"help.user.question5" | trans}}</div>
          <div class="answer">{{"help.user.answer5.block1" | trans}}<br><br>{{"help.user.answer5.block2" | trans}}</div>
          <div class="question">{{"help.user.question6" | trans}}</div>
          <div class="answer">{{"help.user.answer6.block1" | trans}}</div>
          <div class="question">{{"help.user.question7" | trans}}</div>
          <div class="answer">{{"help.user.answer7.block1" | trans}}<br><br>{{"help.user.answer7.block2" | trans}}</div>
          <div class="question">{{"help.user.question8" | trans}}</div>
          <div class="answer">{{"help.user.answer8.block1" | trans}}<br><br>{{"help.user.answer8.block2" | trans}}</div>
          <div class="question">{{"help.user.question9" | trans}}</div>
          <div class="answer">{{"help.user.answer9.block1" | trans}}<br><br>{{"help.user.answer9.block2" | trans}}</div>
          {% endif %}


      </div>
    </div>
  </section>
{% endblock %}
