{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Artist{% endblock %}
{% block nav %}
	{% include "homePageBundle:Default:nav.html.twig" %}
{% endblock %}
{% block main %}
   <div class="artists">
   		{% if listArtists %}
        	{% for artist in listArtists %}
        	    <h1 id="{{ artist.id }}">{{artist.name}}</h1>
        	    <h2 id="{{ artist.id }}">{{artist.firstname}}</h2>
        	{% endfor %}
        {% else %}
			<h1>
				{{ 'noartiste' | trans}}
			</h1>
        {% endif %}
    </div>
    {{parent()}}
{% endblock %}