{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Artist{% endblock %}
{% block nav %}
  <div id="smallHeader" >
    {% include "homePageBundle:Default:nav.html.twig" %}
  </div>
{% endblock %}
{% block main %}
   <div class="artists">
   		{% if listArtists.pageArtist %}
        	{% for section in listArtists.pageArtist %}
            <section id="{{ loop.index }}">
              {% for artist in section %}
              <h1 id="{{ artist.id }}">{{artist.username}}</h1>
              <h2 id="{{ artist.id }}">{{artist.firstname}}</h2>
              {% endfor %}
            </section>
        	{% endfor %}
        {% else %}
			<h1>
				{{ 'noartiste' | trans}}
			</h1>
        {% endif %}
    </div>
{% endblock %}