{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Artist{% endblock %}
{% block nav %}
  <div id="smallHeader" >
    {% include "homePageBundle:Default:nav.html.twig" %}
  </div>
{% endblock %}
{% block main %}
<section id="artistes" class="artistes">
    <header class="headerSection">
      <div class="globalS">
        <div class="idSection">Les Artistes</div>
        <div class="logoSection"><img src="{{asset('img/logoTampon.png')}}" alt=""></div>
        <div class="infoSection">{{listArtists.getNbArtists}} Artistes</div>
      </div>
    </header>
  <div class="containerS">
    <ul id="marqueurs">
    {% if tagServices.findAll %}
      {% for tag in tagServices.findAll %}
        <li id="{{tag.id}}">
          <a href="#">{{ tag.name }}</a>
        </li>
      {% endfor %}
    {% endif %}
    </ul>
   <div class="contentS">
   		{% if listArtists.pageArtist %}
        	{% for section in listArtists.pageArtist %}
            <ul id="{{ loop.index }}">
              {% for artist in section %}
              <a href="{{ path('artist_profile', { 'username': artist.username }) }}">
                <li class="blocArtiste">
                  <div class="globalBlocArtiste">
                    <header class="headerBlocArtiste">
                      <div class="name"id="{{ artist.id }}">{{artist.username}}
                        {% if  listArtists.getInformation(artist)%}
                        {% set information = listArtists.getInformation(artist) %}
                        <span>
                          <img src="{{asset('img/map.png')}}" alt="">
                            {% if information.city %}
                              {{information.city}}
                            {% else %}
                            {% endif %}
                        </span>
                      </div>
                      <div class="infos">
                        <img src="{{asset('img/custom.png')}}" alt=""><p>{{0}} custom.</p>
                        <img src="{{asset('img/likes.png')}}" alt=""><p>{{0}} likes</p>
                        <img src="{{asset('img/avis.png')}}" alt=""><p>{{0}} avis</p>
                      </div>
                      {% endif %}
                    </header>
                    {% if listArtists.getProfile(artist) %}
                    {% set profile = listArtists.getProfile(artist) %}
                    <div class="contentBlocArtiste">
                      <ul>
                        <li class="imgLiquidFill">
                          <div class="description"><div class="content">{{profile.description}}</div></div>
                          {% if profile.imageHeader %}
                            <img src="{{ asset( 'images/'~profile.imageHeader.path ) }}" alt="">
                          {% else %}
                            <img src="{{ asset( 'img/800x500.jpg' ) }}" alt="">
                          {% endif %}
                        </li>
                        <li class="imgLiquidFill">
                          {% if profile.image1 %}
                            <img src="{{ asset( 'images/'~profile.image1.path ) }}" alt="">
                          {% else %}
                            <img src="{{ asset( 'img/800x500.jpg' ) }}" alt="">
                          {% endif %}
                        </li>
                        <li class="imgLiquidFill">
                          {% if profile.image2 %}
                            <img src="{{ asset( 'images/'~profile.image2.path ) }}" alt="">
                          {% else %}
                            <img src="{{ asset( 'img/800x500.jpg' ) }}" alt="">
                          {% endif %}
                        </li>
                        <li class="imgLiquidFill">
                          {% if profile.image3 %}
                            <img src="{{ asset( 'images/'~profile.image3.path ) }}" alt="">
                          {% else %}
                            <img src="{{ asset( 'img/800x500.jpg' ) }}" alt="">
                          {% endif %}
                        </li>
                      </ul>
                    </div>
                  {% endif %}
                </div>
              </a>
              {% endfor %}


        	{% endfor %}
        </div>
        {% else %}
			<h1>
				{{ 'noartiste' | trans}}
			</h1>
        {% endif %}
        <footer class="footerNav">
          <div> <span>&lt;</span>
          <nav>
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
            </ul>
          </nav>
          <span>&gt;</span> </div>
        </footer>
    </div>

</section>

{% endblock %}
