{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA User information{% endblock %}
{% block nav %}
    <div id="smallHeader" >
        {% include "homePageBundle:Default:nav.html.twig" %}
    </div>
{% endblock %}
{% block main %}
  <section class="param">
    <header class="headerSection">
      <div class="globalS">
        <div class="idSection">{{ "information_page.header" | trans }}</div>
        <div class="logoSection"><img src="{{ asset("img/logoTampon.png") }}" alt="" /></div>
        <div class="infoSection"> </div>
      </div>
    </header>
    <div class="containerS">
      {% include "homePageBundle:Default:sidebar_parameter.html.twig" %}
      <div class="contentS">
      	{% if formInfo %}
      	{{form_start(formInfo)}}

        <div class="identity">
            <div class="titleS">
              <div>LTR Crew</div>
            </div>
            <p class="instruction">
              Vous devez remplir les informations suivante pour finaliser votre inscription et rendre votre profil public.
              Ces informations sont gardées confidentielles et servent à vous rémunérer.
            </p>
          {{form_row(formInfo.username)}}
          {{form_row(formInfo.email)}}
        </div>
        <div class="statut">
            <div class="titleS">
              <div>Statut</div>
            </div>
          {{form_row(formInfo.information.zip)}}
          {{form_row(formInfo.information.pays)}}
          {{form_row(formInfo.information.zip)}}
          {{form_row(formInfo.information.siret)}}
          {{form_row(formInfo.information.zip)}}
          {{form_row(formInfo.information.adress)}}
        </div>
          {{form_row(formInfo.information.zip)}}
          {{form_row(formInfo.information.aBank)}}
          {{form_row(formInfo.information.ownerBank)}}
          {{form_row(formInfo.information.resBank)}}
          {{form_row(formInfo.information.rib)}}
          {{form_row(formInfo.information.bic)}}
          {{dump(formInfo)}}

        {{dump(formInfo)}}
          {{form_widget(formInfo)}}

          <div class="button">
            <input class='buttonAction' type="submit" id="_submit" name="_submit" value="{{ "parameter_page.submit"|trans }}" />
          </div>
      	{{form_end(formInfo)}}
      	{% endif %}
    </div>
  </section>
{% endblock %}
