{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA User Estimate{% endblock %}
{% block nav %}
    <div id="smallHeader" >
        {% include "homePageBundle:Default:nav.html.twig" %}
    </div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset( 'js/imgProfileEdit.js' ) }}"></script>
	{{parent()}}
{% endblock %}
{% block main %}
<section class="param">
  <header class="headerSection">
    <div class="globalS">
      <div class="idSection">{{ "estimate_page.header" | trans }}</div>
      <div class="logoSection"><img src="{{ asset("img/logoTampon.png") }}" alt="cma_tampon" /></div>
      <div class="infoSection"></div>
    </div>
  </header>
  <div class="containerS">
    {% include "homePageBundle:Default:sidebar_parameter.html.twig" %}
    <div class="contentS">
      <section id="devis" class="estimateSummary">
        <div class="containerS">
          <p class="title"><span>Demande de XXX</span></p>
          <div class="descriptionOeuvre top20">
          	<p class="block">
              <span> {{ 'form.estimate.title'| trans }}</span>
              {{estimate.title}}
            </p>
          	<p class="block"><span>{{ 'form.estimate.day'| trans  }}</span>{{estimate.timeLimit|date('d/m/y')}}</p>
          	<p class="block"><span>{{ 'form.estimate.deliveryAdress'| trans }}</span> {{estimate.deliveryAdress}}</p>
          	<p class="block"><span>{{ 'form.estimate.medium'| trans }}</span> {{estimate.medium}}</p>
          	<p class="description"><span>{{ 'form.estimate.description'| trans }}</span> {{estimate.description}}</p>
          </div>
          <p class="title">
            Plus de détails
          </p>
          <div class="descriptionOeuvre">
          	<p class="block"><span>{{ 'form.estimate.price'| trans }}</span> {{estimate.budget}} €</p>
            <p class="block">
              <span>{{ 'form.estimate.orientation'| trans }}</span>
              {% if estimate.orientation %}
                {{ 'form.estimate.orientation.true'| trans }}
              {% else %}
              {{ 'form.estimate.orientation.false'| trans }}
              {% endif %}
            </p>
            <p class="block" ><span>{{ 'form.estimate.technics'|trans }}</span>{{estimate.technics}}</p>
            <p class="block"><span>{{ 'form.estimate.tools'| trans }}</span> {{estimate.tools}}</p>
          	<p class="block"><span>{{ 'form.estimate.width'| trans }}</span>>{{estimate.width}} cm</p>
          	<p class="block"><span>{{ 'form.estimate.height'| trans }}</span> {{estimate.height}} cm</p>
          </div>
          <p class="title">
            Illustrer votre demande
          </p>
          <div id="uploadImage">
            <div id="div1" class="imageEstimate imgLiquidFill">
              {% if estimate.image1 %}
                <img src="{{ asset("images/"~estimate.image1.path) }}" alt="">
              {% endif %}          </div>
            <div  id="div2" class="imageEstimate imgLiquidFill" >
              {% if estimate.image2 %}
                <img src="{{ asset("images/"~estimate.image2.path) }}" alt="">
              {% endif %}
              <!-- <canvas id="imageCanvas"></canvas> -->
            </div>
            <div id="div3" class="imageEstimate imgLiquidFill" >
              {% if estimate.image3 %}
                <img src="{{ asset("images/"~estimate.image3.path) }}" alt="">
              {% endif %}
              <!-- <canvas id="imageCanvas"></canvas> -->
            </div>
          </div>
          {% if estimate.ownerId != userServices.getId %}
          <form action="{{ path('proposal_create',{'id': estimate.id} ) }}">
            <div class="blockCheckbox">
              <div class="checkbox">
                <input id="checkbox" required="" name="check" type="checkbox">
                <label for="checkbox"></label>
              </div>
                <p>J’accepte les conditions d’utilisation </p>
            </div>
            <div class="button">
              <div class="buttonSend"><input type="submit" value="Proposer une création" style="background-color:rgba(0,0,0,0)"></input></div>
            </div>
          </form>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}
