{% trans_default_domain 'FOSUserBundle' %}
{% block cart %}
  <section class="param">
    <header class="headerSection">
      <div class="globalS">
        <div class="idSection">{{ "estimate_page.header" | trans }}</div>
        <div class="logoSection"><img src="{{ asset("img/logoTampon.png") }}" alt="cma_tampon" /></div>
        <div class="infoSection"></div>
      </div>
    </header>
    <div class="containerS">
      {% include "homePageBundle:Default:sidebar_parameter.html.twig" %}
      <div class="contentS basket">
       <div class="step">
       </div>
       <div class="step1">
         <header class="headerStep">Mon panier</header>
         <div class="content">
           <ul>
            {% if pieces|length > 0 %}
            {% for key,piece in pieces %}
             <li>
               <div class="image imgLiquidFill">
                {% if piece.image1.path %}
                  <img src="{{asset("images/" ~ piece.image1.path)}}" alt="">
                {% else %}
                  <img src="#" alt="">
                {% endif %}
              </div>
               <div class="description">
                 <h4>Thème:</h4>
                 <p>{{piece.theme}}</p>
                 <h4>Caractéristique:</h4>
                 <p>{{piece.feature}}<br> {{piece.width}} x {{piece.height}}</p>
               </div>
               <div class="price">{{piece.price}} €</div>
             </li>
           {% endfor %}
           {% endif %}
           </ul>
           <div class="totalPrice">
             <img src="{{ asset("img/basketFooterPayment.png") }}" alt="" />
             <div class="price">
              {% set total = 0 %}
              {% if pieces|length > 0 %}
              {% for key,piece in pieces %}
                {% set total = total + piece.price %}
              {% endfor %}
              {% endif %}
               <p class="text">Total TTC</p>
               <div class="result">
                  <p class="number">{{ total }} €</p>
                  <p class="notice"> + frais de port<br>(étape suivante)</p>
                </div>
             </div>
           </div>
           <footer class="footerStep">
              <div class="notice">
                Paiement 100% sécurisé par le service PAYPAL SECURE ou par carte bancaire. Vous disposerez de 14 jours pour demander un remboursement ou échanger votre commande.
                  En cas de retour de l'oeuvre, les frais de transport restent à la charge de l'acquéreur.
                </div>
                <div class="validate">
                  <div class="buttonMore">Valider mon panier</div>
                </div>
           </footer>
         </div>
       </div>
{#       <div class="step2">
         <header class="headerStep">Adresse de livraison</header>

         <!-- strat (A afficher que si on est dans la deuxième étape)  -->
         <div class="statut content ">
           <p>
             <label for="">{{ "form.information.adress" | trans }}</label><br>
            <input type="text">
           </p>

           <p>
             <label for="">{{ "form.information.zipcode" | trans }}</label><br>
             <input type="text">
           </p>

           <p>
             <label for="">{{ "form.information.city" | trans }}</label><br>
             <input type="text">
           </p>

           <p>
             <label for="">{{ "form.information.pays" | trans }}</label><br>
             <input type="text">
           </p>
           <footer class="footerStep"></footer>
         </div>
         <!-- end  (A afficher que si on est dans la deuxième étape)-->


       </div>
       <div class="step3">
         <header class="headerStep">Coordonnées bancaires</header>
         <!-- strat (A afficher que si on est dans la toisième étape)  -->
         <div class="content">
           <ul>
             <li></li>
           </ul>
           <footer class="footerStep"></footer>
         </div>
         <!-- end  (A afficher que si on est dans la toisième étape)-->
       </div>
      </div>#}
  </section>
{% endblock %}
