{% block footer %}
<footer id="footer">
  <div class="global">
    <div class="help">
      <h3>Besoin d’aide ?</h3>
      <ul>
        <li>06 24 04 48 13<br/><a href="mailtto:contact@custommyart.com">contact@custommyart.com</a></li>
        <li><a href="#">Contactez-nous</a></li>
        <li><a href="{{ url('help') }}">Questions fréquentes</a></li>
        <li>Livraison et retours </li>
      </ul>
    </div>
    <div class="about">
      <h3>À propos</h3>
      <ul>
        <li><a href="{{ url('concept') }}">Le concept</a></li>
        <li>Certifié CMA</li>
      </ul>
    </div>
    <div class="newsletters">
      <h3>Recevoir notre newsletter</h3>
      <div class="abonnement">
        <p>Toutes les actualités concernat Custom My Art et ses artistes dans votre messagerie</p>
        <div class="email">
          <input class="text" type="email" placeholder="Votre adresse e-mail" required>
          <button type="submit" class="button"><span class="valider">S'abonner</span></button>
        </div>
        <div class="follow">
          <h4>Nous suivre</h4>
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
          </ul>
        </div>
        </div>
        <div class="logo">
          <img src="{{ asset( 'img/paypal.png' ) }}" alt="">
          <img src="{{ asset( 'img/security.png' ) }}" alt="">
          <img src="{{ asset( 'img/savCma.png' ) }}" alt="">
        </div>
    </div>
  </div>
</footer>
{% endblock %}
