{% trans_default_domain 'FOSUserBundle' %}
{% block nav %}
	<header id="header">

    <div id="globalH">
      <header id="headerHeader">
        <div id="search">
          <div id="smallLogo">
          	{#{% image '@homePageBundle/Resources/img/smallLogoHeaderHome.png' %}#}
    				    <a href="{{ url('home_page_homepage') }}"><img src="{{ asset('img/smallLogoHeaderHome.png') }}" alt="" /></a>
			       {#{% endimage %}#}
          </div>
          <div class="box">
            <input class="text" type="text" placeholder="une oeuvre, un artiste ..." required>
            <button class="icon">
            {# image '@homePageBundle/Resources/img/search.png' #}
    				  <img src="{{ asset('img/search.png') }}" alt="" />
				    {# endimage #}
			</button>
          </div>
        </div>
        <nav id="principal">
          <ul>
            <li><a href="{{ url('listArtists') }}">Les artistes</a></li>
            <li><a href="{{ url('listGalleries') }}">La galerie</a></li>
            <li><a href="{{ url('concept') }}">Le concept</a></li>
            <li><a href="{{ url('help') }}">Aide</a></li>
            {% if app.request.get('_route') != 'fos_user_registration_register' %}
            <li>
            {% if is_granted('ROLE_ARTIST') %}
                {# image '@homePageBundle/Resources/img/login.png' #}
								<div class="login">
									<img src="{{ asset('img/login.png') }}" alt="" />
									<div class="logout">
										<a href="{{ path('user_parameter') }}">Profil</a>
										<a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
									</div>
                {# endimage #}
              </li>
              <li><a href="{{path('artist_edit')}}"><img src="{{asset('img/parametre.png')}}" alt=""></a></li>

                {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                {# image '@homePageBundle/Resources/img/login.png' #}
								<div class="login">
									<img src="{{ asset('img/login.png') }}" alt="" />
									<div class="logout">
										<a href="{{ path('user_parameter') }}">Profil</a>
										<a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
									</div>

								</div>
              </li>
              <li><a href="{{path('home_page_homepage')}}"><img src="{{asset('img/basket.png')}}" alt=""></a></li>
                {# endimage #}
                {% else %}
                {# image '@homePageBundle/Resources/img/login.png' #}
                  <img id="btnCo" src="{{ asset('img/login.png') }}" alt="" />
                {# endimage #}
                <div id="popupco" class="pop" style="display:none;">
                  <div id="poprdr">
                    <header id="headerSection" class="headerSection">
                    </header>
                    <div id="conex">
                        <h1>{{ 'layout.login' | trans }}</h1>
                       {{ render (controller('FOSUserBundle:Security:login')) }}
                    </div>
                    <div id="rgstr">
                      <h1>{{ 'layout.inscription' | trans }}</h1>
                      {{ render(controller('FOSUserBundle:Registration:register')) }}
                    </div>
                  </div>
                </div>
              </li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
        <a href="{{path( 'user_estimate_create' )}}"><div class="devis"><button class="demander"><span>Demander un devis</span></button></div></a>
      </header>
      {% block maxheader %}
      {% endblock %}
    </div>
    {% block footerheader %}
    {% endblock %}
  </header>
{% endblock %}
