{% trans_default_domain 'FOSUserBundle' %}
{% block nav %}  
  <header id="header">
    <div id="globalH">
      <header id="headerHeader">
        <div id="search">
          <div id="smallLogo">
              {% image '@homePageBundle/Resources/img/smallLogoHeaderHome.png' %}
                <a href="{{ url('home_page_homepage') }}"><img src="{{ asset_url }}" alt="" /></a>
              {% endimage %}
          </div>
          <div class="box">
            <input class="text" type="text" placeholder="une oeuvre, un artiste ..." required>
              <button class="icon">
                {% image '@homePageBundle/Resources/img/search.png' %}
                  <img src="{{ asset_url }}" alt="" />
                {% endimage %}
              </button>
          </div>
        </div>
        <nav id="principal">
            <ul>
              <li><a href="{{ url('listArtists') }}">Les artistes</a></li>
              <li><a href="{{ url('listGalleries') }}">La galerie</a></li>
              <li>Le concept</li>
              <li>Aide</li>
              <li>
              {% if is_granted('ROLE_ARTIST') %}
                {% image '@homePageBundle/Resources/img/login.png' %}
                  <a href="{{path('artist_edit')}}"><img src="{{ asset_url }}" alt="" /></a>
                {% endimage %}
              </li>
              <li><a href="{{path('user_parameter')}}"><img src="{{asset('img/parametre.png')}}" alt=""></a></li>
                {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                {% image '@homePageBundle/Resources/img/login.png' %}
                  <a href="{{ path('user_parameter') }}"><img src="{{ asset_url }}" alt="" /></a>
              </li>
              <li><a href="{{path('home_page_homepage')}}"><img src="{{asset('img/basket.png')}}" alt=""></a></li>
                {% endimage %}
                {% else %}
                {% image '@homePageBundle/Resources/img/login.png' %}
                  <img id="btnCo" src="{{ asset_url }}" alt="" />
                {% endimage %}
                <div id="popupco" class="pop" style="display:none;">
                  <div id="poprdr">
                    <header id="headerSection" class="headerSection">
                    </header>
                    <div id="conex">
                        <h1>{{ 'layout.login' | trans }}</h1>
                       {{ render (controller('FOSUserBundle:Security:login')) }}
                    </div>
                    <div id="rgstr">
                      <h1>{{ 'layout.inscription' | trans }}</h1>
                      {{ render(controller('FOSUserBundle:Registration:register')) }}
                    </div>
                  </div>
                </div>
              </li>
              {% endif %}
            </ul>
          </nav>
        <a href="{{path( 'user_estimate_create' )}}"><div class="devis"><button class="demander"><span>Demander un devis</span></button></div></a>
      </header>
       <section id="sectionHeader">
          <div id="logo">
             {% image '@homePageBundle/Resources/img/logoHeaderHome.png' %}
            <img src="{{ asset_url }}" alt="" />
             {% endimage %}
          </div>
          <h1>Vous avez les idées, nous avons les talents.</h1>
        </section>
        <footer id="footerFooter">
          <span>Vous êtes :</span>
          <nav>
            <ul>
              <li>Un particulier</li>
              <li>Un street-artiste</li>
              <li>Une entreprise</li>
            </ul>
          </nav>
        </footer>
      </div>
    <div id="bg-footer"></div>
  </header>
{% endblock %}