{% block presentation %}
{% trans_default_domain 'FOSUserBundle' %}
<section id="presentation">

  <div id="globalP" class="js-all js-private">
    <div id="left">
      <div id="logo"><img src="{{ asset('img/expLogo1Home.png') }}" alt="" /></div>
      <div id="text"> {{"homepage.presentation_index.private.1" | trans | nl2br}}</div>
    </div>
    <div id="center">
      <div id="logo">
        <img src="{{ asset('img/expLogo2Home.png') }}" alt="" />
      </div>
      <div id="text">{{"homepage.presentation_index.private.2" | trans | nl2br}}</div>
    </div>
    <div id="right">
      <div id="logo">
        <img src="{{ asset('img/expLogo3Home.png') }}" alt="" />
      </div>
      <div id="text">{{"homepage.presentation_index.private.3" | trans | nl2br}}</div>
    </div>
  </div>

  <div id="globalP" class="js-all js-artist hide">
    <div id="left">
      <div id="logo"><img src="{{ asset('img/expLogo1Home.png') }}" alt="" /></div>
      <div id="text"> {{"homepage.presentation_index.artist.1" | trans | nl2br}}</div>
    </div>
    <div id="center">
      <div id="logo">
        <img src="{{ asset('img/expLogo2Home.png') }}" alt="" />
      </div>
      <div id="text">{{"homepage.presentation_index.artist.2" | trans | nl2br}}</div>
    </div>
    <div id="right">
      <div id="logo">
        <img src="{{ asset('img/expLogo3Home.png') }}" alt="" />
      </div>
      <div id="text">{{"homepage.presentation_index.artist.3" | trans | nl2br}}</div>
    </div>
    </div>


    <div id="globalP" class="js-all js-company hide">
      <div id="left">
        <div id="logo"><img src="{{ asset('img/expLogo1Home.png') }}" alt="" /></div>
        <div id="text"> {{"homepage.presentation_index.company.1" | trans | nl2br}}</div>
      </div>
      <div id="center">
        <div id="logo">
          <img src="{{ asset('img/expLogo2Home.png') }}" alt="" />
        </div>
        <div id="text">{{"homepage.presentation_index.company.2" | trans | nl2br}}</div>
      </div>
      <div id="right">
        <div id="logo">
          <img src="{{ asset('img/expLogo3Home.png') }}" alt="" />
        </div>
        <div id="text">{{"homepage.presentation_index.company.3" | trans | nl2br}}</div>
      </div>


    </div>
    <div id="video">
      <div id="myElement">

        <script type="text/javascript">
          var playerInstance = jwplayer("myElement");
          playerInstance.setup({
              file: "//content.jwplatform.com/videos/DJdBaVmn-aR4zQVRD.mp4",
              image: "{{ asset('img/poster.png') }}",
              title: 'Basic Video Embed',
              description: 'A video with a basic title and description!',
              mediaid: 'DJdBaVmn'
          });
          </script>

      </div>
    

      </div>
    </div>
  </section>
{% endblock %}
