{% trans_default_domain 'FOSUserBundle' %}
{% block sidebar %}
<aside class="aside filtres">
  <div class="filtres-container">
    <div class="supports cat-filtres">
      <p>{{ "sidebar_parameter.profile" | trans }}</p>
      <ul>
        <li>
          <p><a href="{{ path('user_info') }}">{{ "sidebar_parameter.info" | trans }}</a></p>
        </li>
        <li>
          <p><a href="{{ path('user_parameter') }}">{{ "sidebar_parameter.parameter" | trans }}</a></p>
        </li>
      </ul>
    </div>
    <div class="formats cat-filtres">
      <p>{{ "sidebar_parameter.order" | trans }}</p>
      <ul>
        <li>
          <p><a href="{{ path('user_devis') }}">{{ "sidebar_parameter.devis" | trans }}</a></p>
        </li>
        {% if is_granted('ROLE_ARTIST') %}
        <li>
          <p><a href="{{ path('artist_proposal') }}">{{ "sidebar_parameter.comment" | trans }}</a></p>
        </li>
        {% endif %}
        <li>
          <p><a href="{{ path('user_progress_project') }}">{{ "sidebar_parameter.progress_project" | trans }}</a></p>
        </li>
        <li>
          <p><a href="{{ path('user_finish_project') }}">{{ "sidebar_parameter.finish_project" | trans }}</a></p>
        </li>
      </ul>
    </div>
    <div class="prix cat-filtres">
      <p>{{ "sidebar_parameter.purchase" | trans }}</p>
      <ul>
        <li>
          <p><a href="{{ path('user_sold_project') }}">{{ "sidebar_parameter.sold" | trans }}</a></p>
        </li>
      </ul>
    </div>
  </div>
</aside>
{% endblock %}